<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.scss">
        <link rel="stylesheet" href="/styles/base.scss">
        <link rel="stylesheet" href="/styles/header.scss">
        <link rel="stylesheet" href="/styles/formscss">
        <link rel="stylesheet" href="/styles/footer.scss">
    </head>

    <body>

        <header>
            <div class="log">
                <img src="../img/logo.svg" alt="Link Score Logo">
            </div>
            <div class="nav">
                navigation
            </div>
        </header>

        <main>
            <section class="url2score">
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter a valid URL">
                    <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section class="eval">
                <strong>Link Score Evaluation:</strong>
                <div id="results">
                    <p id="score"></p>
                    <p id="subjectivity"></p>
                    <p id="confidence"></p>
                    <p id="irony"></p>
                    <p id="text"></p>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
