body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

p {
    margin: 0.2rem;
    font-size: 1rem;
    color: slategray;
}

.results {
    width: 100%;
    background-color: darkgrey;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}